<div class='grid-container' style='padding-top: 40px'>
  <div class='small-offset-4 small-4'>
    <form action='settings' method='post'>
      <label>Change Password
        <input name="password" type="password" placeholder="Enter a password..." size="70" id="password"/>
      </label>
      <label>Confirm Password
        <input name="password" type="password" placeholder="Confirm..." size="70" id="_password"/>
      </label>
      <div class='button change-setting-button'>Submit</div>
    </form>
  </div>
</div>
<script>this.ChangeSetting.bind()</script>
